<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration> 
  <typeAliases></typeAliases>  
  <mappers> 
     <mapper resource="com/wehelper/mybatis/WhMenuBtnMapper.xml"/>
     <mapper resource="com/wehelper/mybatis/WhMenuMapper.xml"/> 
     <mapper resource="com/wehelper/mybatis/WhRoleMapper.xml"/> 
     <mapper resource="com/wehelper/mybatis/WhRoleRelMapper.xml"/> 
     <mapper resource="com/wehelper/mybatis/WhUserMapper.xml"/>
  </mappers> 
</configuration>